# KA SEIRSPlus
> backtesting on KA data

- toc: true 
- badges: false
- comments: true
- metadata_key1: metadata_value1
- metadata_key2: metadata_value2

In [2]:
# hide
# !pip install seirsplus
# !pip install -U plotly

import contextlib
import io
import json
import random
import sys
import warnings
from pathlib import Path
from typing import List, Union

import pandas as pd
# from branca.colormap import linear
from IPython.display import Latex, Markdown, display
from IPython.utils import io
from ipywidgets import (HTML, FloatLogSlider, FloatSlider, GridBox, HBox,
                        IntSlider, Label, Layout, Output, SelectionSlider,
                        VBox, interactive)
from seirsplus.models import *

warnings.filterwarnings("ignore")

In [6]:
#hide
ka_df = pd.read_csv("Karnataka_District_Info.csv")
# ka_df["Population"] = pd.to_numeric(ka_df["Population"].apply(lambda x: x.replace(",", "")))
ka_df

                           District  CaseCount  BusCount  QTNCount
0                        Kalaburagi          3       6.0         4
1                            Kodagu          1      27.0        47
2                   Chikkaballapura          4       0.0         9
3                            Mysuru          3      19.0       231
4                           Dharwad          1      12.0        39
5                    Uttara Kannada          4      23.0        23
6                 Dhakshina Kannada          5      82.0       756
7                             Udupi          1      29.0       414
8                            Tumkur          1       1.0        78
9                        Shivamogga          0      43.0        99
10                   Chikkamagaluru          0      32.0        27
11                       Davanagere          0      28.0        58
12                          Ballari          0      13.0        44
13                          Raichur          0      12.0        41
14                         Belagavi          0      11.0        16
15                       Vijayapura          0       5.0         4
16                            Gadag          0       3.0        16
17                           Haveri          0       3.0         5
18                           Hassan          0       1.0        75
19                        Bagalkote          0       0.0        26
20  Bengaluru (Urban, Rural & BBMP)          0       0.0      7315
21                   Chamrajanagara          0       0.0         6
22                            Kolar          0       0.0         6
23                           Kolara          0       0.0         8
24                          Koppala          0       0.0         6
25                           Mandya          0       0.0         8
26                       Ramanagara          0       0.0         8

In [0]:
# hide
def get_infections(
    initI: int = 100, initN: int = 10 ** 5, days_N: int = 21, beta: float = 2.4
) -> List[int]:
    model = SEIRSModel(
        beta=beta,
        sigma=1 / 5.2,
        gamma=1 / 12.39,
        initN=initN,
        initI=initI,
        beta_D=0.000,
        mu_D=0.02,
        sigma_D=1 / 4.0,
        gamma_D=1 / 9.0,
        theta_E=0.0002,
        theta_I=0.002,
        psi_E=0.2,
        psi_I=1.0,
    )
    with io.capture_output() as captured:
        model.run(T=days_N)
    S = model.numS  # time series of S counts
    E = model.numE  # time series of E counts
    I = model.numI  # time series of I counts
    D_E = model.numD_E  # time series of D_E counts
    D_I = model.numD_I  # time series of D_I counts
    R = model.numR  # time series of R counts
    F = model.numF  # time series of F counts
    t = model.tseries  # time values corresponding to the above time series
    return {"detected_exposed": D_E, "detected_infected": D_I, "model": model, "t": t}

In [0]:
# hide
def get_risk_estimates(
    assam_estimated_df: pd.DataFrame, beta: float
) -> Union[List, List]:
    days_N = 21
    atrisk_day14, atrisk_day21 = [], []
    for row in assam_estimated_df[["initI", "initN", "District"]].iterrows():
        initI, initN, district = row[1][0], int(row[1][1]), row[1][2]
        #     print(type(initI), type(initN))
        infection_results = get_infections(
            initI=initI, initN=initN, days_N=days_N, beta=beta
        )
        detected_infected = infection_results["detected_infected"]
        day14 = int(14 * len(detected_infected) / days_N)
        case_count_day14 = int(infection_results["detected_infected"][day14])
        case_count_day21 = int(infection_results["detected_infected"][-1])
        atrisk_day14.append(case_count_day14)
        atrisk_day21.append(case_count_day21)
    return atrisk_day14, atrisk_day21, infection_results

In [0]:
#hide_input
#@title Assumptions
percent_travellers_infected = 1e-1 #@param {type:"slider", min:0, max:1e-1, step:0.001}
unknown_to_known_travelers = 50 #@param {type:"slider", min:5, max:50, step:1}
beta = 3.0 #@param {type:"slider", min:0.5, max:5.0, step:0.1}

#display(Markdown(f"#Assumptions \npercent_travellers_infected :{percent_travellers_infected}\nunknown_to_known_travelers={unknown_to_known_travelers}\nbeta:{beta} "))

In [0]:
# hide
def estimate(
    percent_travellers_infected: float,
    unknown_to_known_travelers: int,
    beta: float,
    state_df: pd.DataFrame,
):

    state_estimated_df = state_df.copy()
    state_estimated_df["initI"] = (
        percent_travellers_infected * unknown_to_known_travelers * state_df["Inflow"]
    ).astype(int)
    state_estimated_df["initN"] = state_estimated_df["Population"].astype(int)

    (
        state_estimated_df[f"day14"],
        state_estimated_df[f"day21"],
        infection_results,
    ) = get_risk_estimates(state_estimated_df, beta=beta)
    return state_estimated_df

In [0]:
# hide
ka_estimated_df = estimate(
    percent_travellers_infected, unknown_to_known_travelers, beta, ka_df
)

In [0]:
# hide
ka_estimated_df["Day 21 Infections"] = ka_estimated_df["day21"]
ka_estimated_df["Day 14 Infections"] = ka_estimated_df["day14"]

In [77]:
# hide
ka_estimated_df["text"] = (
    "District : "
    + ka_estimated_df["District"].astype(str)
    + "<br>"
    + "Population: "
    + ka_estimated_df["Population"].astype(str)
    + "<br>"
    + "Day 14 Infections : "
    + ka_estimated_df["Day 14 Infections"].astype(str)
    + "<br>"
    + "Day 21 Infections : "
    + ka_estimated_df["Day 21 Infections"].astype(str)
    + "<br>"
    + "Travellers: "
    + ka_estimated_df["Inflow"].astype(str)
)

ka_estimated_df.head()

    District  ...                                               text
0   Bagalkot  ...  District : Bagalkot<br>Population: 1889752<br>...
1  Bangalore  ...  District : Bangalore<br>Population: 9621551<br...
2    Belgaum  ...  District : Belgaum<br>Population: 4779661<br>D...
3    Bellary  ...  District : Bellary<br>Population: 2452595<br>D...
4      Bidar  ...  District : Bidar<br>Population: 1703300<br>Day...

[5 rows x 10 columns]

# District vs AtRisk

In [78]:
# hide_input
ka_estimated_df[["District", "Day 14 Infections", "Day 21 Infections"]]

            District  Day 14 Infections  Day 21 Infections
0           Bagalkot               4097              11647
1          Bangalore              49826              68475
2            Belgaum               5457              26105
3            Bellary               5835              15385
4              Bidar                  0                  0
5            Bijapur                  0                  0
6     Chamarajanagar               1554               5885
7    Chikkaballapura               2093               7361
8        Chikmagalur               2963               7260
9        Chitradurga                  0                  0
10  Dakshina Kannada               9811              14721
11        Davanagere               5426              12573
12           Dharwad               4636              11703
13             Gadag               2382               6601
14          Gulbarga               1827              12831
15            Hassan               5453              11685
16            Haveri               1756               8664
17            Kodagu               2010               3756
18             Kolar               1907               8524
19            Koppal               1818               7787
20            Mandya               2394              10142
21            Mysore              10651              20258
22           Raichur               4852              12227
23        Ramanagara               1829               6365
24           Shimoga               5790              11683
25            Tumkur               7420              17291
26             Udupi               5505               8290
27    Uttara Kannada               3288               8948
28        Vijayapura               1730              11113
29            Yadgir                  0                  0